<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-route.js" charset="utf-8"></script>
  <script src="./app/app.js" charset="utf-8"></script>
  <script src="./app/controllers/homeController.js" charset="utf-8"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <title>Taylor King</title>

</head>
<body ng-app="myApp">

  <div class="container-fluid video-wrap" ng-controller="homeController">
    <img ng-src="{{view.backgroundImg}}" class="current-frame" alt="Video of Me">
    <div class="row equal move">
      <div class="col-md-4 col-sm-4 text-left"><a class="btn" ng-click="play('forward', 0, 144)" href="#!/about/"><h3 class="vcenter">About</h3></a></div>
      <div class="col-md-4 col-sm-4 text-center"><span class="logo vcenter">TAYLOR</span></div>
      <div class="col-md-4 col-sm-4 text-right"><a class="btn" ng-click="play('backward', 144, 0)"><h3 class="vcenter">Work</h3></a></div>
    </div>
  </div>

  <div ng-view="" class="container-fluid enter">
    awefaewf
  </div>

</body>
</html>
