<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-route.js" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-animate.js" charset="utf-8"></script>
  <script src="./app/app.js" charset="utf-8"></script>
  <script src="./app/controllers/homeController.js" charset="utf-8"></script>
  <script src="./app/controllers/projectController.js" charset="utf-8"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <title>Taylor King</title>

</head>
<body ng-app="myApp"  ng-controller="homeController">

  <div class="container-fluid video-wrap" ng-class="push">
    <img ng-src="{{view.backgroundImg}}" class="current-frame" alt="Video of Me">
    <div class="row equal move">
      <div class="col-md-4 col-sm-4 newcenter" ng-show="view.aboutBtn">
        <a class="btn" ng-click="toggleAbout('forward', 0, 60); push='left-animate'" href="#!/">
          <h3 class="pull-left vcenter"><span class="glyphicon glyphicon-chevron-left line" aria-hidden="true"></span>about</h3>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 text-center">
        <span class="logo vcenter">TAYLOR</span>
      </div>
      <div class="col-md-4 col-sm-4 newcenter" ng-show="view.workBtn">
        <a class="btn pull-right" ng-click="toggleWork('forward', 60, 120); push='right-animate'" href="#!/work/">
          <h3 class="pull-right vcenter">work<span class="glyphicon glyphicon-chevron-right line" aria-hidden="true"></span></h3>
        </a>
      </div>
    </div>
  </div>


  <div class="about-page left-modal-animate" ng-include="'./app/partials/sideabout.html'" ng-if="view.aboutPageVisible">
  </div>
  <!-- <div class="work-page right-modal-animate" ng-include="'./app/partials/sidework.html'" ng-if="view.workPageVisible">
  </div> -->

  <div ng-view="" class="container-fluid enter">
  </div>

</body>
</html>
