<div class="row">
  <div class="col-md-12">
    <h1 class="popit">hello,</h1>
    <p>My name is Taylor King, and I am a
      <p class="text-left"><strong class="smallpop">developer,</strong></p>
      <p class="text-center"><strong class="smallpop">filmmaker,</p>
      <p class="text-right"></strong> <strong class="smallpop">designer.</strong></p>
    </p>

  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p><a href="https://www.linkedin.com/in/taylorlking">LinkedIn</a></p>
    <p><a href="https://twitter.com/_t_king">@_t_king</a></p>
  </div>
</div>
